@{
  Layout = "_Layout";
}
@using HairSalon.Models
@model HairSalon.Models.Stylist

<h4>Stylist Details</h4>

<h5>Stylist: @Html.DisplayFor(model => model.Name), Specialty: @Html.DisplayFor(model => model.Specialty), Schedule: @Html.DisplayFor(model => model.Schedule)</h5>

@if (Model.Clients.Count == 0)
{
  <h5>No Clients have been added yet!</h5>
}

@foreach (Client client in Model.Clients)
{
  <p>@client.Name, Hairtyle: @client.Hairstyle, Appointment: @client.Time @client.Date</p>
}

<p>@Html.ActionLink("Add new Client", "Create", "Clients")</p>
<p>@Html.ActionLink("Add new Stylist", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>