@{
  Layout = "_Layout";
}
@using HairSalon.Models
@model HairSalon.Models.Stylist

<h2>Stylist Details</h2>

<h3>Stylist: @Html.DisplayFor(model => model.Name)</h3>

@foreach (Client client in Model.Clients)
{
  <p>@client.Name, Hairtyle: @client.Hairstyle, Stylist: @client.Stylist.Name, Appointment: @client.Time @client.Date</p>
}

<p>@Html.ActionLink("Add new Stylist", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>